.DS_Store
.Doxyfile
.build_release
.github
.travis.yml

build/
data/
distribute/
docker/
docs/
matlab/
models/
python/
scripts/
tools/

Makefile.config

examples/mnist/mnist_train_lmdb/
examples/mnist/mnist_test_lmdb/
data/ilsvrc12/
